<div class="super-container">
  <h2>Payment</h2>

  <!-- Payee Name -->
  <div class="container">
    <div class="input">
      <label for="">Payee Name</label>
      <input type="text" class="form-control" #nameInput (input)="onNameChange(nameInput.value)">
    </div>
    <div class="input-value">
      <h4>Name</h4>
      <p>{{name | titlecase}}</p>
    </div>
  </div>

  <!-- Payement Date -->
  <div class="container">
    <div class="input">
      <label for="">Payment Date</label>
      <input type="date" class="form-control" #dateInput (input)="onDateInput(dateInput.value)">
    </div>
    <div class="input-value">
      <h4>Date</h4>
      <p>{{date | date}}</p>
    </div>
  </div>

  <!-- Payement Amount -->
  <div class="container">
    <div class="input">
      <label for="">Payment Amount</label>
      <input type="number" class="form-control" #amountInput (input)='onAmountInput(amountInput.value)'>
    </div>
    <div class="input-value">
      <h4>Amount</h4>
      <p>{{amount | currency: '$'}}</p>
    </div>
  </div>

  <!-- Miles to KM -->
  <div class="container">
    <div class="input">
      <label for="">Miles</label>
      <input type="number" class="form-control" #milesInput (input)='onMilesChange(milesInput.value)'>
    </div>
    <div class="input-value">
      <h4>KM</h4>
      <p>{{miles | convert}}</p>
    </div>
  </div>

</div>